#email-form {
    min-height: 950px;
}

.btn-lg {
    margin: .3rem;
}

h1 {
    margin-bottom: 1rem;
}

.tile {
    line-height: 100px;
    border: white solid 2px;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}
